 <div class="jumbotron container-fluid mb-2">
        <h1 class="display-4 logo">Northwind</h1>
        <p class="lead">We have the best prices and selection of high quality food &amp; beverages on the planet! Check out our featured discounts below.</p>
        <hr class="my-4">
        <p>For spectacular international quisine, look no further.</p>
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">Order now <i class="fas fa-angle-double-right"></i></a>
    </div>
    <!-- grid -->
    <div class="row container-fluid">
        <div class="card col-md p-3 m-1">
            <h3>Tis the seasoning</h3>
            <div class="mb-4">
                Order today! Save 12.5% on Chef Anton's Italian Seasoning.
                You don't want to make Chef Anton mad, do you?
            </div>
            <i>Discount expires: 2/25/2024</i><br />
            <a href="#" class="code"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        <div class="col-md">
            Col 2
        </div>
        <div class="col-md">
            Col 3
        </div>
    </div>

@section Scripts {
    <script type="text/javascript" src="~/js/client.js"></script>
}